<nav class="header">
    <%if user_signed_in?%>
    <%=link_to 'My List', book_list_items_path, class: "nav-link"%>
    <%=link_to 'Books', books_path, class: "nav-link" %>
    <%=link_to 'Authors', authors_path, class: "nav-link"%>
    <%end%>
</nav>